/* Styles for the app */

body {
  background-color: #3b854abd;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.6;

}
#root > nav > div > a > img {
  width: 200px;
  height: 200px;
  background-color: #FEF6DC; 
  border-radius: 50%;
}

#root > nav > div > div.me-auto.navbar-nav > a {
  display: flex;
  align-items: center;
  gap: 80px;
  border-radius: 50px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #3b854aab;
}
