/* Styles for the app */

body {
  background-color: #3b854abd; /* dark green */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff7d1;  /* beige */
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

:root {
  --brand: #004d40;       
  --brand-dark: #00332a;  
}

.btn-dark,
.btn-outline-dark {
  color: #fff;
  background-color: var(--brand);
  border-color: var(--brand);
}

.btn-outline-dark {
  background-color: transparent;
  color: var(--brand);
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-dark:hover,
.btn-dark:focus {
  background-color: var(--brand-dark);
  border-color: var(--brand-dark);
  color: #fff;
}

.btn-outline-primary,
.btn-outline-primary:visited,
.dropdown-toggle {
  color: var(--brand) !important;
  border-color: var(--brand) !important;
  background-color: transparent !important;
  height: 40px;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: var(--brand) !important;
  color: #fff !important;
  border-color: var(--brand-dark) !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: var(--brand);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: var(--brand-dark);
}

a {
  color: var(--brand);
}

a:hover {
  color: var(--brand-dark);
}

#root > nav > div > a > img {
  width: 200px;
  height: 200px;
  background-color: #FEF6DC; 
  border-radius: 50%;
}

#root > nav > div > div.me-auto.navbar-nav > a {
  display: flex;
  align-items: center;
  gap: 80px;
  border-radius: 50px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #3b854aab;
}

.navbar .btn-group,
.navbar .btn-group .btn,
.navbar .btn-group .dropdown-toggle {
  vertical-align: middle;
  align-items: center;
  display: flex;
  height: 100%;
}